QToolTip
{
    border: 1px solid #FFD37B;
    background-color: #3A2300;
    color: #FFD37B;
    font-weight: bold;
}

QWidget
{
    border: 1px solid #553300;
    color: #FFD37B;
    background-color: #2A1901;
    font-family: "Terminus";
    font-size: 14pt;
    font-weight: bold;
}


QWidget:item:hover
{
    background-color: #FFD37B;
    color: #000000;
}

QWidget:item:selected
{
    background-color: #FF9600;
    color: #000000;
}

QMenuBar {
    background-color: #2A1901;
    color: #FF9600;
}

QMenuBar::item
{
    background: transparent;
}

QMenuBar::item:selected
{
    /*
    background: transparent;
    border: 1px solid #ffaa00;
    */
    border: 1px solid #FF9600;
    background: #2A1901;
    color: #FF9600;
}

QMenuBar::item:pressed
{
    border: 1px solid #FF9600;
    background-color: #FF9600;
    color: #000000;
    margin-bottom:-1px;
    padding-bottom:1px;
}

/* ==================================================================================== */
/* MENU                                                                                 */
/* ==================================================================================== */

QMenu
{
    background: #FF9600;
    border: 1px solid #222;
    padding: 4px;
    padding-right: 0px;
}

QMenu::item
{
    background: transparent;
    padding: 2px 20px 2px 20px;
}

QMenu::item:disabled
{
    color: #990000;
    background: transparent;
    padding: 2px 20px 2px 20px;
}


QMenu::item:selected
{
    /*background-color: #3A2507;*/
    background: transparent;
    border: 1px solid #FF9600;
    color: #FFD37B;
}

QWidget:disabled
{
    color: #CFCF86;
    background-color: #2A1901;
}

QAbstractItemView
{
    background-color: #3A2507;
}

QLineEdit
{
    padding: 1px;
    border: 1px solid #FF9600;
    background-color: #3A2507;
    color: #FF9600;
}

QPushButton
{
    color: #FF9600;
/*    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #565656, stop: 0.1 #525252, stop: 0.5 #4e4e4e, stop: 0.9 #4a4a4a, stop: 1 #464646);*/
    border-width: 1px;
    border-color: #3A2507;
    border-style: solid;
    padding: 3px;
    font-size: 14pt;
    padding-left: 5px;
    padding-right: 5px;
}

QPushButton:pressed
{
/*    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #2d2d2d, stop: 0.1 #2b2b2b, stop: 0.5 #292929, stop: 0.9 #282828, stop: 1 #252525);*/
}

/* ==================================================================================== */
/* COMBO BOX                                                                            */
/* ==================================================================================== */

QComboBox {
    selection-background-color: #ffaa00;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #553200, stop: 0.1 #553200, stop: 0.5 #553200, stop: 0.9 #553200, stop: 1 #553200);
    border-style: solid;
    border: 1px solid #1e1e1e;
}

QComboBox:hover,QPushButton:hover {
    /*background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0     #FFD37B,
        stop: 0.1   #FFD37B,
        stop: 0.5   #FFD37B,
        stop: 0.9   #FFD37B,
        stop: 1     #FFD37B);*/
        border: 1px solid #FF9600;

}


QComboBox:on {
    padding-top: 1px;
    padding-left: 3px;
    background-color: QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1,
        stop: 0     #555,
        stop: 0.1   #4C4C4C,
        stop: 0.5   #464646,
        stop: 0.9   #414141,
        stop: 1     #444);
    selection-background-color: #ffaa00;
    selection-color: #000000;
}

QComboBox QAbstractItemView {
    border: 1px solid #FF9600;
    selection-background-color: #ffaa00;
}

QComboBox::drop-down {
     subcontrol-origin: padding;
     subcontrol-position: top right;
     width: 15px;
     border: 0px;
 }

QComboBox::down-arrow
{
    image: url(icons/down_arrow.png);
}

QGroupBox:focus
{
    /*border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);*/
}

QTextEdit:focus
{
    border: 2px solid QLinearGradient( x1: 0, y1: 0, x2: 0, y2: 1, stop: 0 #ffa02f, stop: 1 #d7801a);
}

/* ==================================================================================== */
/* SCROLL BAR                                                                           */
/* ==================================================================================== */

QScrollBar:horizontal {
    background-color: #1A0F00;
    height: 8px;
    margin: 0px;
    padding: 0px;
}

QScrollBar::handle:horizontal {
    border: 1px solid #FFD100;
    background: #FF9600;
}

QScrollBar::add-line:horizontal, QScrollBar::sub-line:horizontal,
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    width: 0px;
    background: transparent;
}

QScrollBar:vertical {
    background-color: #1A0F00;
    width: 8px;
    margin: 0;
}

QScrollBar::handle:vertical {
    border: 1px solid #FFD100;
    background: #FF9600;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical,
QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    height: 0px;
    background: transparent;
}


QTextEdit
{
    background-color: #1A0F00;
}

/*QPlainTextEdit
{
    background-color: #1A0F00;
}*/
QPlainTextEdit {
     background: #1A0F00;
     font-family: "Terminus";
     font-size: 14pt;
     font-weight: bold;
    }


QHeaderView::section
{
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #616161, stop: 0.5 #505050, stop: 0.6 #434343, stop:1 #656565);*/
    color: red;
    padding-left: 4px;
    border: 1px solid #C46D27;
}

QDockWidget::title
{
    text-align: center;
    spacing: 3px; /* spacing between items in the tool bar */
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #2A1901, stop: 0.5 #1A0F00, stop:1 #2A1901);*/
}

QDockWidget::close-button, QDockWidget::float-button
{
    text-align: center;
    spacing: 1px; /* spacing between items in the tool bar */
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #2A1901, stop: 0.5 #1A0F00, stop:1 #2A1901);*/
    background-color:  #2A1901;
}

QDockWidget::close-button:hover, QDockWidget::float-button:hover
{
    background: #1A0F00;
}

QDockWidget::close-button:pressed, QDockWidget::float-button:pressed
{
    padding: 1px -1px -1px 1px;
}

QMainWindow::separator
{
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);*/
    color: white;
    padding-left: 4px;
    border: 1px solid #4c4c4c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QMainWindow::separator:hover
{

    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #d7801a, stop:0.5 #b56c17 stop:1 #ffa02f);*/
    color: white;
    padding-left: 4px;
    border: 1px solid #0cFF0c;
    spacing: 3px; /* spacing between items in the tool bar */
}

QToolBar {
    background: red;
    background-color: #FF00FF;
    border: 1px solid #2A1901;
}

QToolBar::handle
{
     spacing: 3px; /* spacing between items in the tool bar */
     background: url(:/images/handle.png);
}

QMenu::separator
{
    height: 2px;
    /*
    background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:0 #161616, stop: 0.5 #151515, stop: 0.6 #212121, stop:1 #343434);
    */
    color: white;
    padding-left: 4px;
    margin-left: 10px;
    margin-right: 5px;
}

QProgressBar
{
    border: 2px solid red;
    text-align: center;
}

QProgressBar::chunk
{
    background-color: #d7801a;
    width: 2.15px;
    margin: 0.5px;
}

QTabBar::tab {
    color: #FF9600;
    border: 1px solid #FF9600;
    border-bottom-style: none;
    background-color: #2A1901;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 2px;
    margin-right: -1px;
}

QTabWidget::pane {
    border: 1px solid #444;
    top: 1px;
}

QTabBar::tab:last
{
    margin-right: 0; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:first:!selected
{
  margin-left: 0px; /* the last selected tab has nothing to overlap with on the right */
}

QTabBar::tab:!selected
{
    border-bottom-style: solid;
    margin-top: 3px;
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:.4 #343434);*/
}

QTabBar::tab:selected
{
    background-color: #FF9600;
    color: #000000;
    margin-bottom: 0px;
}

QTabBar::tab:!selected:hover
{
    /*border-top: 2px solid #ffaa00;
    padding-bottom: 3px;*/
    /*background-color: QLinearGradient(x1:0, y1:0, x2:0, y2:1, stop:1 #212121, stop:0.4 #343434, stop:0.2 #343434, stop:0.1 #ffaa00);*/
}

/* ==================================================================================== */
/* RADIO BUTTON                                                                         */
/* ==================================================================================== */

QRadioButton::indicator:checked, QRadioButton::indicator:unchecked{
    color: #0100FF;
    background-color: #2A1901;
    border: 1px solid #b1b1b1;
}

QRadioButton::indicator:checked {
    background-color: qradialgradient(
        cx: 0.5, cy: 0.5,
        fx: 0.5, fy: 0.5,
        radius: 1.0,
        stop: 0.25 #ffaa00,
        stop: 0.3 #2A1901
    );
}

QRadioButton::indicator
{
}

QRadioButton::indicator:hover
{
    border: 1px solid #ffaa00;
}

/* ==================================================================================== */
/* CHECKBOX                                                                             */
/* ==================================================================================== */

QCheckBox:disabled {
    color: #414141;
}

QCheckBox::indicator {
    color: #ff0101;
    background-color: #2A1901;
    border: 1px solid #b1ffb1;
    width: 9px;
    height: 9px;
}

QCheckBox::indicator:checked {
    image:url(icons/check_ffffff_14.png);
}

QCheckBox::indicator:disabled, QRadioButton::indicator:disabled {
    border: 1px solid #444;
}

QAbstractItemView::selected {
    border: 0px;
    outline: none;
}

/* ==================================================================================== */
/* TREE VIEW                                                                            */
/* ==================================================================================== */

QTreeView {
    /*background-color: #3A2300;*/
    background-color: #AE772A;
    color: #FFD37B;
    font-weight: bold;
}

QTreeView::item, QTreeView::branch {
    background: transparent;
    color: #FFD37B;
}

QTreeView::item:hover, QTreeView::branch:hover {
    background-color: #FFB600;
    color: #000000;
}

QTreeView::item:selected, QTreeView::branch:selected {
    background-color: #FF9600;
    color: #000000;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
    border-image: none;
    image: url(icons/caret-right_ffffff_14.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
     border-image: none;
     image: url(icons/caret-down_ffffff_14.png);
}

/* ==================================================================================== */
/* TABLE VIEW                                                                           */
/* ==================================================================================== */

QHeaderView {
}

QHeaderView::section {
    background: transparent;
    background-color: #553200;
    color: #FF9600;
    border: 1px solid #FF9600;
    /*border-right: 0px solid #FF9600;*/
    /*border-top: 0px solid #FF9600;*/
    padding: 0 0 2px 3px
}

/* ==================================================================================== */
/* COMPILE OUTPUT                                                                       */
/* ==================================================================================== */

QWidget[windowTitle="Compile Output"]
{
    color: #FF9600;
    background: #2A1901;
    background-color: #2A1901;
    font-family: "Terminus";
    font-size: 14pt;
    font-weight: bold;
}
